* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    background-color: #0000001a;
}

nav {
    text-align: center;
    color: #f00;
    font-size: 1rem;
    background-color: rgb(240, 167, 22);
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: 1px 1px 3px #424241;
}

.topmenu {
    display: flex;
    justify-content: space-around;
}

.topmenu img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    border-radius: 50%;
    outline: 2px solid;
}

.topmenu img:hover {
    outline: 2px solid green;
    cursor: pointer;
}

.topmenu h1 {
    margin-top: 0;
    text-shadow: 2px 2px 3px rgb(28, 40, 40), 2px 2px 3px #dc1212, 3px 1px 3px #565660;
    color: #ff0000;
    font-size: 1.7em;
}

nav .topmenu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    margin-left: 1em;
    font-weight: 900;
    display: block;
    padding: 0.5rem;
}

.activelink {
    /*text-decoration: underline;
    */
    background-color: rgb(171, 136, 67);
    border-radius: 5px;
}

nav ul li a:is(:hover, :focus) {
    background-color: rgb(171, 136, 67);
    border-radius: 5px;
    /* text-decoration: underline; */
}


/* ============================================================ */

.container {
    margin: 0;
}

.columns {
    display: flex;
}

.col {
    padding: 1em;
}

.col1,
.col3 {
    background-color: #f2f7f2;
    /* border: 2px solid #c2bfbf; */
    width: 30%;
}

.col1 {
    /* border: 2px solid #c2bfbf; */
    scroll-behavior: smooth;
    overflow-y: hidden;
    height: 100vh;
    box-shadow: -20px -20px 30px rgb(0, 0, 0);
}

.col1:hover,
.col3:hover,
.col2:hover {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.dar {
    white-space: nowrap;
}

.col1 a {
    display: flex;
    /* border: 1px solid #a19f9f; */
    font-size: 1.1em;
    color: rgba(3, 3, 3, 0.8);
    text-decoration: none;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-family: serif;
}

.col1 h1 {
    color: rgba(21, 21, 21, 0.6);
    margin-top: 15px;
    font-size: 1em;
    text-transform: capitalize;
    font-family: sans-serif;
}

.col1 .line {
    width: 100%;
    height: 1px;
    background-color: rgba(174, 174, 174, 0.132);
}

.allnation {
    width: 99.9%;
    display: flex;
    overflow-x: scroll;
    gap: 1em;
}

.allnation .nation {
    border: 2px solid rgb(196, 192, 192, 0.2);
    border-radius: 5px;
    padding: 10px;
    width: 99.9%;
}

.allnation .nation:hover {
    filter: brightness(0.5);
    box-shadow: 2px 2px 3px;
    -webkit-filter: brightness(0.5);
}

.allnation .nation a {
    font-size: medium;
}

.allnation .nation img {
    position: relative;
    width: 160px;
    border-radius: 10px;
}

.allnation .nation a:hover {
    background: transparent;
    font-weight: 600;
}

.allnation .nation a:active {
    filter: blur(1px);
}

.allnation .nation img:hover {
    cursor: pointer;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

textarea {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    outline: 2px solid #a19f9f;
}

.col1 input[type="email"] {
    width: 90%;
    height: 25px;
    border-radius: 4px;
}

.col1 input[type="submit"],
.col1 input[type="reset"] {
    width: 40%;
}

.col1 input[type="search"] {
    width: 99%;
    height: 30px;
    position: sticky;
    top: -24px;
    left: 1px;
    z-index: 1;
    border: 1px solid #f4f8f4;
    box-shadow: 2px 2px 3px #7c7f7c;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

label {
    font-weight: 400;
    font-family: monospace;
}

::placeholder {
    margin: 0 auto;
    padding: 30px 20px;
    font-size: 17px;
    font-family: monospace;
    white-space: nowrap;
}

.comment {
    border: 2px solid #a19f9f;
    padding: 10px;
    border-radius: 10px;
}

.col1 a:hover {
    background-color: #808080;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.col2 {
    /* background-color: #808080; */
    width: 70%;
    overflow-y: hidden;
    height: 100vh;
}

.col2 h1 {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: medium;
}

.col2 h1:hover {
    cursor: progress;
}

.col3 {
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
    overflow-y: hidden;
    height: 100vh;
}

.people {
    width: 21%;
    height: 9vh;
    background-color: #000000;
    border-radius: 50%;
    float: left;
    margin-left: -11px;
    outline: 1px solid #fff;
    box-shadow: 2px 2px 3px rgba(54, 164, 164, 0.363);
}

.people img {
    width: 100%;
    height: 8.8vh;
    border-radius: 50%;
}

.col3 a {
    text-decoration: none;
}

.col3 a:hover {
    text-decoration: underline;
}

.col3 h2 {
    font-size: 0.7em;
    z-index: 0;
}

.col3 h6 {
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.5);
}

.col3 h6:hover {
    color: rgba(0, 0, 255, 0.9);
    cursor: not-allowed;
}

.col3 p {
    font-size: small;
    font-family: monospace;
}

.col3 p:hover {
    color: #161515;
    font-weight: 900;
    font-style: italic;
}

.col3 .post {
    background-color: rgba(203, 223, 223, 0.363);
    display: flow-root;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    box-shadow: 2px 2px 3px rgba(7, 28, 28, 0.363);
    margin: 0.5em;
    position: sticky;
    top: 0;
}

.col3 .post:hover {
    margin: 0.3em;
    cursor: pointer;
}

.wordallsuponser {
    font-weight: 800;
    color: rgb(0, 0, 0, 0.6);
}

.allsuponser {
    position: relative;
    top: 0px;
    overflow-y: scroll;
    height: 50vh;
}

.col3 section {
    margin: 0.5em 0;
}

.col3 section .product {
    border: 2px solid;
    height: 244px;
}

.col3 .product img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 3px rgba(7, 28, 28, 0.363);
}


/* ==============//video============= */


/* video {
    width: 100%;
    height: 200px;
    position: relative;
    top: -20px;
} */

.col3 header button {
    width: 9%;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: rgba(255, 46, 46, 0.913);
    color: rgb(255, 244, 244);
}

.follow-as {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(39, 17, 17);
    background-image: radial-gradient(white, rgb(240, 167, 22));
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    top: -7.5px;
    box-shadow: 2px 2px 3px rgba(7, 28, 28, 0.363);
    margin-bottom: 0;
}

.follow-as .button {
    width: 49.8%;
    height: 6vh;
    background-color: #fff;
    margin-top: 1.5px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-image: radial-gradient(white, rgb(240, 167, 22));
}

.follow-as .button img {
    width: 25%;
    height: 34px;
    /* border: 2px solid; */
    border-radius: 50%;
    padding: 5px;
    /* background-color: #089524; */
}

.follow-as-btn1 {
    position: absolute;
    left: 50%;
    border-bottom-right-radius: 10px;
}

.follow-as-btn2 {
    position: absolute;
    left: 0.01em;
    border-bottom-left-radius: 10px;
}

.follow-as h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.suposer-loading {
    margin: 12px 20px 40px 10px;
    width: 230px;
    height: 244px;
    background-color: #0000004a;
    border-radius: 10px;
    border: 2px solid #5a585825;
    position: relative;
    display: flex;
    /* filter: blur(1.5px); */
}

.suposer-loading:hover {
    background-color: #00000029;
    border: 2px solid #0000002c;
    filter: blur(2px);
    cursor: progress;
}

.flame {
    width: 49.8%;
    height: 6vh;
    background-color: #ffffff39;
    margin-top: 200px;
}

.flame1 {
    position: absolute;
    left: 4.8em;
    border-bottom-right-radius: 10px;
}

.flame2 {
    border-bottom-left-radius: 10px;
}

.suponser-load {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: medium;
    margin: 30px;
}

.suponser-load:hover {
    cursor: progress;
}


/* ===================STORY HERE!================ */

.col2 .write {
    /* background-color: #000000; */
    height: 70px;
    width: 100%;
    /*margin-left: 50px;
    */
    display: flow-root;
    margin: 1em 0;
    border-radius: 20px;
}

.write .people {
    width: 12%;
    height: 7vh;
    background-color: #000000;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: -14px;
    outline: 1px solid #fff;
    box-shadow: 2px 2px 3px rgba(54, 164, 164, 0.363);
}

.write .people img {
    width: 100%;
    height: 6.8vh;
    border-radius: 50%;
}

.write input[type="text"] {
    width: 80%;
    height: 4vh;
    margin-top: 4px;
    border-radius: 50px;
    border: none;
    margin: 0 auto;
    padding: 30px 20px;
    font-size: 17px;
    font-family: monospace;
    white-space: nowrap;
    background-image: linear-gradient(to right, white, rgb(242, 234, 234));
}

.write .button {
    height: 5vh;
    width: 7.1%;
    border-radius: 50%;
    border: 1px solid #d6cbcbbb;
    background-color: #000;
    color: white;
}

.write .button:is(:hover, :focus) {
    color: rgb(255, 255, 255);
    border: 2px solid #d7a500;
    background-color: #000000af;
}

.write .button:active {
    background-color: rgb(3, 144, 3);
}

input[type="file"] {
    position: relative;
    left: 210px;
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.637));
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.allstory {
    width: 99.9%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 0.2em;
}

.story {
    width: 110px;
    height: 20vh;
    /*background-color: #000;
    */
    border: 2px solid #0000005a;
    border-radius: 10px;
    margin-bottom: 0;
}

.story:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(22, 22, 22, 0.865);
}

.story img {
    width: 100%;
    height: 119px;
    border-radius: 8px;
}

.story img:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.story .story-poster {
    width: 30%;
    height: 5.6vh;
    background-color: #e6dfdf;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    top: -4.9em;
    left: 4px;
}

.story-poster img {
    width: 100%;
    height: 5vh;
    border-radius: 50%;
}

.add-story .story-poster {
    position: relative;
    top: -9.5em;
    left: 4px;
}

.add-story h6 {
    position: relative;
    top: -1.4em;
    left: 4px;
    /*white-space: nowrap;
    */
    text-align: center;
    font-family: Arial Narrow Bold;
    font-size: 3em;
    color: #000000b6;
    border-radius: 50%;
    /* outline: 2px solid; */
    outline-offset: -20px;
    /* text-shadow: 1px 0 1px #fffafa; */
}

.add-story h6:hover {
    cursor: pointer;
}

.add-story a {
    position: relative;
    top: -8.9em;
    left: 16px;
    white-space: nowrap;
    font-size: small;
    font-family: Arial;
    color: #000000;
    text-shadow: 1px 0 1px #fffafa;
    text-decoration: none;
}

.add-story a:hover {
    color: rgb(6, 6, 148);
}

.add-story .story-poster img {
    filter: blur(0);
}

.add-story .story-poster img:hover {
    filter: blur(0);
    cursor: pointer;
}

.add-story img {
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.add-story img:hover {
    filter: blur(20px);
    -webkit-filter: blur(20px);
}


/* ========================POST HERE!=============================== */

.tooltip {
    width: 30%;
    height: 30vh;
    background: #000;
    margin: 1px auto;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 4.5em;
    top: -14em;
    background-image: radial-gradient(#ffffff, rgb(247, 245, 241));
    border: 1px solid rgb(186, 186, 185);
    isolation: isolate;
}

.tooltip::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(0deg, rgba(0 0 0/.4), rgba(0 0 0/0));
    z-index: -1;
    border-radius: 10px;
}

#tool-img {
    width: 70px;
    display: block;
    height: auto;
    border-radius: 50%;
    margin: 4px auto;
    border: 2px solid #000;
}

.follows {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.follows a {
    display: flex;
    flex-direction: column;
}

.tooltip {
    text-align: center;
}

.product {
    width: 99%;
    /* height: 30vh; */
    border-radius: 10px;
    border: 1px solid rgb(186, 186, 185);
    margin: 0.5em 0 2em;
}

.product img:is(:hover) {
    cursor: pointer;
    filter: brightness(1.1);
}

.intro {
    width: 99.9%;
    height: auto;
    padding: 1px;
    background-color: hsl(36, 14%, 100%);
    border-top-right-radius: 7.1px;
    border-top-left-radius: 7.1px;
    border-bottom-right-radius: 7.1px;
    border-bottom-left-radius: 7.1px;
    display: flow-root;
}

.intro .profile {
    position: relative;
    top: -10px;
    left: -10px;
}

.intro .image {
    width: 12%;
    height: 45px;
    background-color: #000;
    border-radius: 50%;
    float: left;
    border: 1px solid rgb(137, 134, 130);
}


/* .intro .image:is(:hover){
    cursor: pointer;
} */

.intro h2 {
    position: relative;
    top: 10px;
    font-size: small;
    left: 4px;
    text-transform: capitalize;
}

.intro h2 b {
    border-radius: 50%;
    padding: 4px;
    /* outline: 1px solid rgb(6, 105, 6); */
    outline-offset: -5px;
}

.intro h6 {
    position: relative;
    top: 10px;
    font-size: 0.5em;
    color: rgb(0, 0, 0, 0.4);
    left: 4px;
}

.intro p {
    position: relative;
    top: 10px;
    left: -4px;
    font-size: 0.6em;
    font-weight: 600;
    display: flow-root;
    text-align: justify;
}

.intro h2 a,
.intro p a {
    text-decoration: none;
}

.intro h2 a:hover,
.intro p a:hover {
    text-decoration: underline;
}

h2:hover .tooltip {
    display: block;
}


/* max-height here! of posted image */

.img-btn img {
    max-height: 50vh;
}

.product img {
    width: 99.9%;
    /*
    border-top-right-radius: 7.1px;
    border-top-left-radius: 7.1px; */
    margin-top: -0px;
    padding: 0;
    z-index: 0;
}

.grid-image {
    margin-top: -0px;
    padding: 0;
    z-index: 0;
    width: 99.9%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: "ab ab ab ab ab ac" "ba ba bc bc bb ac" "ba ba bc bc bb ac";
    gap: 0.1em;
}

.grid-image img {
    border: 1px solid rgb(191, 191, 191, 0.9);
    margin-bottom: 0;
}

.img1 {
    display: grid;
    grid-area: ab;
    height: 15.5vh;
}

.img2 {
    grid-area: ac;
    height: 46.3vh;
}

.img3 {
    grid-area: ba;
    position: relative;
    top: -4px;
    height: 31.4vh;
}

.img4 {
    grid-area: bc;
    position: relative;
    top: -4px;
    height: 31.4vh;
}

.img5 {
    grid-area: bb;
    height: 30.4vh;
}


/* .col2 section {
    position: sticky;
    top: 30px;
    height: VH;
} */

.product button {
    margin: 0.5em;
    padding: 0;
    width: 13vw;
    height: 4.3vh;
    background-color: rgb(126, 92, 90);
    background-image: radial-gradient(#fff, rgb(240, 167, 22));
    color: #c79696;
    border-radius: 10px;
    border: 1px solid rgb(135, 92, 5);
}

.likenumber span .icon {
    font-size: small;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.1em;
    margin-right: -2em;
    background-color: #d4bfbf;
}

.likenumber span .number {
    margin-left: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 0.7em;
}

.likenumber span a {
    text-decoration: none;
}

.likenumber span a:is(:hover, :focus) {
    background-color: #b0acac;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product button span:visited {
    opacity: 0;
}


/* .pop {
    position: fixed;
    top: 32.4em;
    left: 24em;
    opacity: 0;
}

.pop:hover {
    opacity: 1;
} */

.product button:hover {
    cursor: pointer;
    background-color: rgb(231, 194, 139);
    background-image: linear-gradient(to right, #fff, rgb(240, 167, 22));
    font-size: 0.5em;
}

.product button:active {
    background-image: linear-gradient(to left, #fff, rgb(240, 167, 22));
    font-size: 0.7em;
}

.btn {
    padding: 0;
    margin-top: -7.9px;
    background-color: hsl(36, 14%, 100%);
    border-bottom-right-radius: 10.1px;
    border-bottom-left-radius: 7.1px;
}

.loading {
    width: 99.9%;
    height: 50vh;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 2em 0;
    filter: blur(1px);
}

.loading:is(:hover) {
    cursor: progress;
    background-color: rgb(0, 0, 0, 0.15);
}

.loading-profile {
    width: 20%;
    height: 10vh;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 50%;
    float: left;
    position: relative;
    top: 4px;
    left: 3px;
}

.loading-title1 {
    width: 30%;
    height: 10px;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 10px;
    display: flow-root;
    position: relative;
    top: 15px;
}

.loading-title2 {
    width: 30%;
    height: 10px;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 10px;
    display: flow-root;
    position: relative;
    top: 20px;
    left: 5px;
}

.loading-btn0 {
    position: relative;
    top: 9.5em;
    left: 30px;
    width: 20%;
    height: 5vh;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 12px;
}

.loading-btn1 {
    position: relative;
    top: 8.2em;
    left: 200px;
    width: 20%;
    height: 5vh;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 12px;
}

.loading-btn2 {
    position: relative;
    top: 7em;
    left: 400px;
    width: 20%;
    height: 5vh;
    background-color: rgb(230, 223, 223, 0.5);
    border-radius: 12px;
}


/* ============================other link================ */


/* 
.live-side,
.video-side {
    margin-top: 2em;
    width: 99.9%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "hd hd hd sd" "mn ms dd dd" "hb hb nb nb";
    gap: 0.1em;
}

.live,
.video {
    height: 100px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.live,
.video:hover {
    cursor: not-allowed;
    background-color: rgba(15, 16, 15, 0.1);
}

.lv1,
.vd1 {
    grid-area: hd;
}

.lv2,
.vd2 {
    grid-area: sd;
}

.lv3,
.vd3 {
    grid-area: mn;
}

.lv4 .vd4 {
    grid-area: ms;
}

.lv5,
.vd5 {
    grid-area: dd;
}

.lv6,
.vd6 {
    grid-area: hb;
}

.lv7,
.vd7 {
    grid-area: nb;
}
 */


/* =====================footer================ */

footer {
    margin: 0.1em;
    padding: 10px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgb(174, 174, 174, 0.3);
}

.down a {
    font-size: small;
    text-align: center;
}

.down a:is(:hover) {
    text-decoration: underline;
    background-color: #e6dfdf;
}

.img-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-social img {
    width: 40px;
    border: 1px solid;
    padding: 4px;
    border-radius: 20px;
    background-image: radial-gradient(white, rgb(240, 167, 22));
    grid-area: 0.9em;
}

p {
    margin: 4px 0;
    font-size: large;
    text-align: center;
}

.icon a img:is(:hover, :focus) {
    background-image: linear-gradient(white, rgb(240, 167, 22));
    color: #00000000;
    background-color: #f60000;
    border-radius: 40px;
}

.icon a img:is(:active) {
    background-image: linear-gradient(to top, white, rgb(240, 167, 22));
}

.to-small {
    position: absolute;
    left: -1000000000000px;
}


/* .product .user {
    width: 30%;
    height: 12vw;
    background-color: #000;
    margin-top: -50px;
    border-radius: 50%;
    z-index: 1;
} */


/* .img-btn {
    border: 2px solid;
    border-radius: 10px;
} */


/* ==========================MAX WIDTH==================== */

@media(max-width:767px) {
    nav {
        width: 100%;
    }
    .topmenu h1 {
        background-color: rgb(240, 167, 22);
    }
    .columns {
        flex-direction: column;
    }
    /* .col{
        overflow-y: hidden;
        height: 100vh;
    } */
    .col1,
    .col3 {
        width: 100%;
    }
    .col {
        margin-bottom: 0;
        box-shadow: 0 0;
    }
    .col1 .product {
        display: none;
    }
    .col1 a {
        display: inline;
        border: 0;
    }
    .col1 .otherlink {
        display: none;
    }
    .col1 a .dar {
        white-space: normal;
    }
    .col2 {
        /* background-color: #808080; */
        width: 100%;
        overflow-y: auto;
        height: auto;
    }
    .col2 {
        overflow-y: auto;
        height: auto;
        order: -1;
    }
    .col2 .product {
        margin-bottom: 2px;
    }
    .col2 h1 {
        display: none;
    }
    .col1:hover,
    .col3:hover,
    .col2:hover {
        overflow-y: auto;
    }
    .loading {
        display: none;
    }
    /* .col3 .product {
    } */
    .adv {
        position: absolute;
        top: -100000px;
    }
    .story img {
        width: 99.9%;
        height: 117px;
        border-radius: 8px;
    }
    .story-poster img {
        width: 100%;
        height: 5vh;
        border-radius: 50%;
    }
    .topmenu {
        display: flex;
        flex-direction: column-reverse;
    }
    .name-of {
        order: 1;
        margin-bottom: -28px;
        position: relative;
    }
    .image-of {
        display: none;
    }
    .link-of {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: none;
    }
    /* ======COL3==== */
    .col3 {
        margin-top: -310px;
        box-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
    .allsuponser {
        position: relative;
        top: 0px;
        overflow-y: scroll;
        height: 50vh;
        display: flex;
        align-items: center;
    }
    .follow-as h1 {
        font-size: 90%;
        overflow-x: scroll;
    }
    .col3 section .product {
        width: 400px;
        border: 2px solid;
        height: 244px;
        margin-right: 12px;
    }
    .col3 .product img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 2px 2px 3px rgba(7, 28, 28, 0.363);
    }
    .img1 {
        display: flex;
    }
    .follow-as .button img {
        width: 25%;
        height: 34px;
        /* border: 2px solid; */
        border-radius: 50%;
        padding: 5px;
        /* background-color: #089524; */
    }
    .suposer-loading {
        margin-top: -37px;
        margin-right: 20px;
        width: 280px;
        height: 244px;
        background-color: #0000004a;
        border-radius: 10px;
        border: 2px solid #5a585825;
        position: relative;
        display: flex;
        /* filter: blur(1.5px); */
    }
    /* =====================footer================ */
    .to-large {
        display: none;
    }
    .to-small {
        position: absolute;
        left: 0;
        background-color: #f2f7f2;
    }
    .to-small a {
        text-decoration: none;
        color: rgb(0, 0, 0, 0.6);
    }
    .to-small img {
        width: 50px;
        border: 1px solid;
        padding: 4px;
        border-radius: 20px;
        background-image: radial-gradient(white, rgb(240, 167, 22));
    }
    .img-social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    p {
        text-align: center;
    }
    .to-small a img:is(:hover, :focus) {
        background-image: linear-gradient(white, rgb(240, 167, 22));
    }
    .to-small a img:is(:active) {
        background-image: linear-gradient(to top, white, rgb(240, 167, 22));
    }
}